.todos-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .todos-title {
    font-size: 24px;
    color: #3b5998;
    margin-bottom: 10px;
  }
  
  .todos-label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .todos-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .todos-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .todos-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todos-checkbox {
    margin-right: 10px;
    /* Customize checkbox color */
    color: #3b5998;
  }
  
  .todos-checkbox:checked {
    /* Customize checked checkbox color */
    color: #3b5998;
  }
  
  .todos-text {
    font-size: 16px;
    color: #3b5998;
  }
  
  
  .todos-checkbox:checked + .todos-text {
    text-decoration: line-through;
    color: #3b5998;
  }
  